body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d3d3;
    padding: 1rem 2rem;
}

.logo img {
    height: 100px;
}

.menu_nav {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu_nav li a {

    color: #00064B;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu_nav li a:hover {
    color: white;
}


/*SECTION ABAIXO DO HEADER */
.titulo {
    position: relative;
    text-align: center;
    background-color: #09206b;
    color: white;
    padding: 10px 20px;
}
    
.titulo-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
    
.titulo-text h3 {
    font-size: 20px;
    font-weight: 00;
}

.banner {
    text-align: center;
}
    
.banner img{
    height: 240px;
    width: 1000px;
    justify-content: space-between;
}

/* Seção sobre acessibilidade */
.about-accessibility {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
}
    
.about-accessibility h2 {
    font-size: 28px;
    color: #09206b;
    margin-bottom: 20px;
    text-transform: uppercase;
}
    
.about-accessibility p {
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
    line-height: 1.8;
}
    
.banner-text h1, .about-accessibility h2 {
    border-bottom: 2px solid #39bceb; /*RISCO EM BAIXO*/
    display: inline-block;
    padding-bottom: 10px;
}
.about-accessibility:hover {
    transform: scale(1.05); /* Expande suavemente */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Destaca com sombra maior */
}
    
/*FOOTER*/
footer {
    background-color: #d0d0d0;
    padding: 20px 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    height: 100px;
}

.menu-footer {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-footer li a {
   
    color: #00064B;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.menu-footer li a:hover {
    color: #fff;
}

footer button {
    background-color: #09206b;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
}

footer button:hover {
    background-color: #39bceb;
}
